<div class="login-form-container">
  <form novalidate [formGroup]="loginFormGroup" (ngSubmit)="onFormSubmit()">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" id="email" formControlName="email">

      @if (loginFormGroup.controls.email.invalid && loginFormGroup.controls.email.touched) {
        <mat-error>Email is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" id="password" formControlName="password">

      @if (loginFormGroup.controls.password.errors?.['required']) {
        <mat-error>Password is required</mat-error>
      } @else if (loginFormGroup.controls.password.errors?.['minlength']) {
        <mat-error>Password must be at least 6 characters</mat-error>
      }
    </mat-form-field>
    <button type="submit" [disabled]="loginFormGroup.invalid">Submit</button>
  </form>
</div>
