<mat-toolbar>
  <mat-toolbar-row>
    <span>My Application</span>
    <a>
      <app-button> About</app-button>
    </a>
    <a>
      <app-button> Support</app-button>
    </a>
    <a>
      <app-button> Contact</app-button>
    </a>

    <span class="example-spacer"></span>
    <a>
      <button mat-mini-fab>
        <mat-icon>home</mat-icon>
      </button>
    </a>
    <a>
      <button mat-mini-fab class="button-spacing">
        <mat-icon>menu</mat-icon>
      </button>
    </a>

  </mat-toolbar-row>
</mat-toolbar>
