<mat-toolbar>
  <mat-toolbar-row>
    <span>My Application</span>
      <a routerLink="/home" routerLinkActive="active-link">
          <button mat-button> Home </button>
      </a>
      <a routerLink="/login" routerLinkActive="active-link">
          <button mat-button> Login </button>
      </a>
      <a routerLink="/page-not-found" routerLinkActive="active-link">
          <button mat-button> PageNotFound </button>
      </a>
    <span class="example-spacer"></span>
    <a>
      <button mat-mini-fab>
        <mat-icon>home</mat-icon>
      </button>
    </a>
    <a>
      <button mat-mini-fab class="button-spacing">
        <mat-icon>menu</mat-icon>
      </button>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
